<ion-view title="Plan Your Trip" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="from">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="From">
            </label>
            <div class="spacer" style="width: 283px; height: 24px;"></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Destination">
            </label>
        </form>
        <h3 id="planYourTrip-heading1" style="color:#E48484;font-weight:300;">Buses Plying This Route</h3>
        <div class="list card">
            <div class="item item-divider">Bus No : 1234</div>
            <div class="item item-body">
                <div id="planYourTrip-markdown3" style="color:#000000;">
                    <p>From : Abc</p>

                    <p>Destination : Xyz</p>

                    <p>Next Expected Arrival : 12:00 PM</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="enroute.busTracker" id="planYourTrip-button3" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block button-outline icon ion-android-map">Track</a>
                    <a ui-sref="enroute.busDetails" id="planYourTrip-button4" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-ios-list-outline">Details</a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Bus No : 1234</div>
            <div class="item item-body">
                <div id="planYourTrip-markdown4" style="color:#000000;">
                    <p>From : Abc</p>

                    <p>Destination : Xyz</p>

                    <p>Next Expected Arrival : 12:00 PM</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="enroute.busTracker" id="planYourTrip-button6" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block button-outline icon ion-android-map">Track</a>
                    <a ui-sref="enroute.busDetails" id="planYourTrip-button7" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-ios-list-outline">Details</a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Bus No : 1234</div>
            <div class="item item-body">
                <div id="planYourTrip-markdown5" style="color:#000000;">
                    <p>From : Abc</p>

                    <p>Destination : Xyz</p>

                    <p>Next Expected Arrival : 12:00 PM</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="enroute.busTracker" id="planYourTrip-button8" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block button-outline icon ion-android-map">Track</a>
                    <a ui-sref="enroute.busDetails" id="planYourTrip-button9" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-ios-list-outline">Details</a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Bus No : 1234</div>
            <div class="item item-body">
                <div id="planYourTrip-markdown6" style="color:#000000;">
                    <p>From : Abc</p>

                    <p>Destination : Xyz</p>

                    <p>Next Expected Arrival : 12:00 PM</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="enroute.busTracker" id="planYourTrip-button10" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block button-outline icon ion-android-map">Track</a>
                    <a ui-sref="enroute.busDetails" id="planYourTrip-button11" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-ios-list-outline">Details</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>